body{
    background: rgb(255, 190, 249);
}

.inline_div {
    display: inline;
    color: white;
}
.left-menu {
    background-color: rgb(19, 56, 219);
    position: absolute;
    top: 0; bottom: 0; left:0;
    width: 20%;
}

.main-pannel {
    background-color: rgb(252, 186, 5);
    position: absolute;
    top: 20%; left: 20%; right: 0; bottom: 0;
}

.top-pannel {
    background-color: rgb(11, 235, 85);
    position: absolute;
    top: 0; left: 20%; right: 0;
    height: 20%;
}