<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Idlepunk</title>
    <meta name="description" content="Idlepunk">
    <meta name="author" content="lambert">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    {% block body %}
    {% endblock body %}

    <form action="/logout" method="get">
    <div>
        <input type="submit" value="Se deconnecter">
    </div>
</form>
</body>
</html>