<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>
    Mining <div id="speed" class="inline_div">{{ x }}</div> gold / sec
    </br>
    <button id="test" type="button">
        Upgrade mine
    </button>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="/static/js/scripts.js"></script>
</body>

</html>