{% extends "index.j2" %}
{% block main_pannel_content %}
<form action="" method="post">
    <div>
        <label for="name">Pseudo : </label>
        <input type="text" name="pseudo" required>
    </div>
    <div>
        <input type="submit" value="Se connecter">
    </div>
</form>

{% if current_user.is_authenticated %}
Hi {{ current_user.id }}!
{% else %}
Hi visitor !
{% endif %}
{% endblock main_pannel_content %}